/* Landscape phones and down */

@media (max-width: 480px) {
    .home-copo {
        display: none;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home-scroll {
        display: none;
    }
    .home .container {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-texto h1 {
        text-align: center;
    }
    .forma1 {
        width: 200px;
        position: fixed;
        display: block;
        top: 30%;
        left: -6%;
        z-index: -1;
    }
    .forma2 {
        width: 200px;
        position: fixed;
        display: block;
        top: 50%;
        right: -6%;
        z-index: -1;
    }
}


/* Landscape phone to portrait tablet */

@media (min-width: 400px) and (max-width: 647px) {
    .home-copo {
        display: none;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home .container {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-texto h1 {
        text-align: center;
    }
    .home-scroll {
        display: none;
    }
    .forma1 {
        width: 300px;
        position: fixed;
        display: block;
        top: 30%;
        left: -6%;
        z-index: -1;
    }
    .forma2 {
        width: 300px;
        position: fixed;
        display: block;
        top: 50%;
        right: -6%;
        z-index: -1;
    }
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 647px) and (max-width: 979px) {
    .home-copo {
        display: none;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home .container {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .home-texto h1 {
        text-align: center;
    }
    .forma1 {
        width: 400px;
        position: fixed;
        display: block;
        top: 30%;
        left: -6%;
        z-index: -1;
    }
    .forma2 {
        width: 400px;
        position: fixed;
        display: block;
        top: 50%;
        right: -6%;
        z-index: -1;
    }
}