@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Nunito', 'sans-serif';
}


/* ---- config gerais ---- */

.container {
    max-width: 1300px;
    margin: 30px auto;
}

.header {
    box-shadow: rgb(33 35 38 / 20%) 0px 10px 10px -10px;
    padding: 1px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.site-navigation {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-links a {
    text-decoration: none;
    color: #242424;
    margin: 20px;
    font-size: 1.2rem;
}